footer {
    padding: 5vh 20vw;
    background: linear-gradient(0deg, rgba(168, 159, 145, 0.8), rgba(248, 247, 244, 0.9) 80%);
    color: #2e2e2e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10vw;
}

footer .footer-section {
    flex-wrap: wrap;
}

footer h4 {
    font-size: 2vw;
    margin-bottom: 8px;
    color: #444;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 6px 0;
}

footer ul li a {
    text-decoration: none;
    color: #2e2e2e;
    transition: color 0.3s ease;
}